head {
	background-color: blue;
}

body {
	backgorund-color: lightblue;
}

footer {
	background-color: blue;
}

.bigheader {
    font-size: 72px;
    font-family: monospace;
    
}

#headerright {
    float:right;
    
}

.text1 {
    font-family: monospace;
    background-color: #ff0000;
    color: white;
    font-weight: 400;
}

#rightbox {
    width:500px;
    height:1000px;
    background: blue;
    float:right;
    
}

#Turtle {

}